* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #313131;
    transition: .25s color;
}

body.dark-mode {
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 146px;
    font-size: 25px;
    font-weight: 400;
    padding-left: 40px;
    background-color: #7E3DAB;
    color: #FFFFFF;
    transition: .25s background-color;
}

.dark-mode .app-header {
    background-color: #371C66;
}


.app-header .header-img {
    height: 52px;
}

.app-header .header-text-wrapper{
    display: flex;
    align-items: center;
}

.app-main {
    display: flex;
    padding: 45px 0 45px 40px;
    gap: 20px;
    height: 100%;
    background-color: #EBEBEB;
    transition: .25s background-color;
}

.dark-mode .app-main {
    background-color: #24292E;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 370px;
    max-width: 370px;
}

.files-wrapper{
    display: flex;
    align-items: center;
    gap: 6px;
}

.clear-files{
    position: relative;
    color: #969494;
    cursor: pointer
}

.clear-files::before{
    position: absolute;
    content: "Вiдмiнити вибiр";
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    height: 20px;
    color: white;
    width: fit-content;
    white-space: nowrap;
    border-radius: 16px;
    background-color: #364253;
    padding: 10px;
    box-shadow: 0 0px 15px 2px rgba(0, 0, 0, 0.4);
    transition: .05s;
}


.clear-files:hover::before{
    transform: translate(-50%, 0) scale(1);
}

.logos {
    display: flex;
    gap: 15px;
    margin-top: 4px;
}

.logos .logo-item {
    border: 1px solid #D3D3D3;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

/* .logos .logo-item:not(:nth-child(1)) {
    margin-left: -1px;
} */

.logos .logo-item img {
    height: 100%;
}

.choosen-logo{
    border-color: #0D99FF !important;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 3px 6px;
    color: white;
    cursor: pointer;
}

.big-button {
    width: 148px;
    height: 33px;
}

.small-button {
    width: 77px;
    height: 23px;
}

.path-choose {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.choose-files-button-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.choose-files-text{
    font-size: 12px;
}

.path-choose .file-path {
    color: #969494;
}

.color-black {
    color: #313131;
}

.color-gray {
    color: #969494;
}

.blue-button {
    background-color: #0D99FF;
}

.dark-mode .blue-button {
    background-color: #364253;
}

.gray-button {
    background-color: #6F6F6F;
}

.dark-mode .gray-button {
    background-color: #5b3d6a;
}

.demo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    width: 466px;
    height: 340px;
    transition: .25s background-color;
}

.demo-wrapper img {
    width: auto;
    height: 100%;
    z-index: 1;
    /* rgb(34, 78, 114) */
}

.dragover{
    background-color: #906ad2;
}

.demo-border{
    border: 3px dashed #5f4194;
    /* border-radius: 10px; */
}

.progress-bar {
    height: 19px;
    background-color: #D9D9D9;
}

.toggle-button-wrapper{
    position: relative;
    display: flex;
    width: 35px;
    height: 35px;     
}

.toggle-button {
    width: 100%;
    height: 100%;
    z-index: 100;
    appearance: none;
    cursor: pointer;
}

.sun-img{
    opacity: 0;
    transition: .25s;
}

.dark-mode .sun-img{
    opacity: 1;
}

.toggle-button-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7E3DAB;
}

.dark-mode .toggle-button-img{
    background-color: #371C66;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 2;
}

.loader{
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-top-color: #0D99FF;
    border-radius: 50%;
    animation: rotation 1s infinite;
}

.hidden{
    opacity: 0;
    transition: .25s;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
